<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">

</head>
<body>
    <div class="login-container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <h2>Login</h2>
        <form method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            <input type="submit" value="Login">
        </form>
        <div class="home-button">
            <br>
            <a href="/">Home</a>
        </div>

    </div>
</body>
</html>
